<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FALAI_API_KEY</key>
	<string>b45528c0-13b0-4ea6-9568-ce72cce22c43:c5bcc1b57e069329561af8e7c1c08d34</string>
</dict>
</plist>
